@font-face {
  font-family: "Comic Sans MS";
  src: url("../fonts/ComicSansMS.ttf") format("truetype");
}
html {
  font-size: 16px;
  font-family: "Comic Sans MS", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  z-index: 1;
  margin: 0;
  overflow-y: scroll;
  color: #3a3a3a;
  background: url(../assets/paper-bg.webp) top center repeat;
  background-color: #ffffff;
}
body.hidden {
  overflow: hidden;
}

h2 {
  margin: 0;
  font-weight: 700;
  font-size: 38px;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  color: #3a3a3a;
}
@media (max-width: 992px) {
  h2 {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 30px;
  }
}

h3 {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 164%;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  h3 {
    font-size: 18px;
    line-height: 133%;
  }
}

a {
  text-decoration: none;
}

a,
button,
input,
textarea {
  font-family: "Comic Sans MS", sans-serif;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (max-width: 1380px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 50px;
  padding: 5px 10px 10px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #3a3a3a;
  border: none;
  background: url(../assets/button-white.svg) center no-repeat;
  background-size: contain;
  transition: transform ease-in-out 0.1s;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.button_primary {
  color: #ffffff;
  background-image: url(../assets/button-red.svg);
}
.button_lg-primary {
  width: 453px;
  height: 53px;
  color: #ffffff;
  background-image: url(../assets/button-red-lg.svg);
}
@media (max-width: 576px) {
  .button_lg-primary {
    width: 240px;
    height: 50px;
    background-image: url(../assets/button-red.svg);
  }
}
.button:hover {
  transform: scale(1.02);
}
.button:active {
  transform: scale(1);
}
.button:disabled, .button_disabled {
  pointer-events: none;
  cursor: default;
  filter: grayscale(1) brightness(1.4);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 15px 0;
}
.header .container {
  display: flex;
  align-items: center;
  min-height: 70px;
}
.header__logo {
  flex: 0 0 auto;
}
@media (max-width: 576px) {
  .header__logo {
    display: none;
  }
}
.header__logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo-image {
  display: block;
  max-width: 100%;
}
.header__main {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 60px;
}
@media (max-width: 576px) {
  .header__main {
    justify-content: space-between;
    gap: 20px;
  }
}
.header__social {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .header__social {
    gap: 2px;
  }
}
.header__social-link {
  display: inline-block;
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (max-width: 768px) {
  .header__social-link {
    height: 46px;
    width: 46px;
  }
}
.header__social-link_x {
  background-image: url(../assets/x.png);
}
.header__social-link_tg {
  background-image: url(../assets/tg.png);
}
.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 50px;
  padding: 5px 10px 10px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #fff;
  border: none;
  background: url(../assets/button-red.svg) center no-repeat;
  background-size: contain;
  transition: transform ease-in-out 0.1s;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__button {
    width: 150px;
    height: 50px;
    background-image: url(../assets/button-red-sm.svg);
  }
}
.header__button:hover {
  transform: scale(1.02);
}
.header__button:active {
  transform: scale(1);
}

.main {
  padding-top: 100px;
}

.footer {
  padding: 50px 0;
  background-color: #202020;
}
.footer__info {
  font-weight: 400;
  font-size: 18px;
  line-height: 222%;
  letter-spacing: -0.05em;
  text-align: center;
  color: #fff;
}

.main-screen {
  position: relative;
  padding: 62px 0 100px;
}
@media (max-width: 576px) {
  .main-screen {
    padding: 20px 0 200px;
  }
}
@media (max-width: 576px) {
  .main-screen::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 40px;
    width: 194px;
    height: 139px;
    background: url(../assets/main-screen-shhh.svg) center no-repeat;
    background-size: contain;
    transform: translateX(-50%);
  }
}
.main-screen .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
@media (max-width: 576px) {
  .main-screen .container {
    padding: 0;
  }
}
.main-screen__logo {
  display: none;
}
@media (max-width: 576px) {
  .main-screen__logo {
    display: inline-block;
  }
}
.main-screen__image {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.text-section {
  padding: 50px 0;
  background-color: #202020;
}
@media (max-width: 576px) {
  .text-section {
    padding: 20px 0;
  }
}
.text-section__text {
  margin: 0 0 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 222%;
  letter-spacing: -0.05em;
  text-align: center;
  color: #fff;
}
@media (max-width: 768px) {
  .text-section__text {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 250%;
  }
}
.text-section__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-section__button {
  display: inline-block;
  width: 240px;
  height: 50px;
  padding: 5px 10px 10px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #3a3a3a;
  border: none;
  background: url(../assets/button-white.svg) center no-repeat;
  background-size: contain;
  transition: transform ease-in-out 0.1s;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.text-section__button:hover {
  transform: scale(1.02);
}
.text-section__button:active {
  transform: scale(1);
}

.about-token {
  position: relative;
  padding: 185px 0 230px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .about-token {
    padding: 100px 0 60px;
  }
}
@media (max-width: 768px) {
  .about-token {
    padding: 80px 0 20px;
  }
}
.about-token::before {
  content: "";
  position: absolute;
  top: 52px;
  right: 73%;
  display: block;
  width: 412px;
  height: 559px;
  background: url(../assets/about-left-bg.png) center no-repeat;
  background-size: cover;
}
@media (max-width: 1380px) {
  .about-token::before {
    right: 80%;
  }
}
@media (max-width: 992px) {
  .about-token::before {
    display: none;
  }
}
.about-token::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 70%;
  display: block;
  width: 426px;
  height: 811px;
  background: url(../assets/about-right-bg.png) center no-repeat;
  background-size: cover;
}
@media (max-width: 1380px) {
  .about-token::after {
    left: 82%;
  }
}
@media (max-width: 992px) {
  .about-token::after {
    display: none;
  }
}
.about-token .container {
  position: relative;
}
.about-token__coin {
  position: absolute;
  left: -200px;
  bottom: -170px;
  width: -moz-fit-content;
  width: fit-content;
  transform: rotate(-15deg);
}
@media (max-width: 1380px) {
  .about-token__coin {
    left: -100px;
    bottom: -280px;
  }
}
@media (max-width: 992px) {
  .about-token__coin {
    position: static;
    margin: 0 auto 33px;
    transform: none;
  }
}
@media (max-width: 992px) {
  .about-token_no-bg-sm .about-token__coin {
    display: none;
  }
}
.about-token__coin-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.about-token__title {
  margin: 0 0 50px;
  font-weight: 400;
  font-size: 60px;
  line-height: 67%;
  letter-spacing: -0.05em;
  color: #000;
}
@media (max-width: 768px) {
  .about-token__title {
    margin: 0 0 14px;
    font-size: 40px;
    line-height: 100%;
  }
}
.about-token__address {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 536px;
  margin: 0 auto 20px;
  aspect-ratio: 8/1;
  background: url(../assets/address-bg.svg) center no-repeat;
  background-size: contain;
}
@media (max-width: 576px) {
  .about-token__address {
    gap: 4px;
    width: 320px;
  }
}
.about-token__address-text, .about-token__address-number {
  font-weight: 400;
  font-size: 16px;
  line-height: 222%;
  letter-spacing: -0.05em;
  color: #000;
}
@media (max-width: 576px) {
  .about-token__address-text, .about-token__address-number {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .about-token__address-text {
    display: none;
  }
}
.about-token__address-button {
  display: inline-block;
  width: 81px;
  aspect-ratio: 2/1;
  font-weight: 400;
  font-size: 18px;
  line-height: 222%;
  letter-spacing: -0.05em;
  color: #fff;
  border: none;
  background: url(../assets/copy-button.svg) center no-repeat;
  background-size: contain;
  transition: transform ease-in-out 0.1s;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
@media (max-width: 576px) {
  .about-token__address-button {
    width: 50px;
    font-size: 11px;
  }
}
.about-token__address-button:hover {
  transform: scale(1.02);
}
.about-token__address-button:active {
  transform: scale(1);
}
.about-token__tags {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}
.about-token__tag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 105px;
  height: 44px;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: -0.05em;
  color: #fff;
  background: url(../assets/tag-bg.svg) center no-repeat;
  background-size: contain;
}
.about-token__tag_tron::after {
  content: "";
  display: block;
  flex: 0 0 auto;
  width: 28px;
  height: 28px;
  background: url(../assets/tron.png);
}
.about-token__text {
  max-width: 550px;
  margin: 20px auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: -0.05em;
  color: #000;
}
.about-token__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-token__button {
  display: inline-block;
  width: 240px;
  height: 50px;
  padding: 5px 10px 10px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #3a3a3a;
  border: none;
  background: url(../assets/button-white.svg) center no-repeat;
  background-size: contain;
  transition: transform ease-in-out 0.1s;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.about-token__button:hover {
  transform: scale(1.02);
}
.about-token__button:active {
  transform: scale(1);
}
.about-token__sun {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.about-token__sun-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-token__sun-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.about-token__sun::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: calc(100% + 25px);
  width: 194px;
  height: 139px;
  background: url(../assets/click.svg) center no-repeat;
}
@media (max-width: 992px) {
  .about-token__sun::after {
    left: calc(100% - 10px);
  }
}
@media (max-width: 576px) {
  .about-token__sun::after {
    display: none;
  }
}

.tokenomic {
  padding: 100px 0 70px;
}
@media (max-width: 768px) {
  .tokenomic {
    padding: 65px 0 90px;
  }
}
.tokenomic__title {
  margin: 0 0 48px;
  font-weight: 400;
  font-size: 60px;
  line-height: 67%;
  letter-spacing: -0.05em;
  color: #000;
}
@media (max-width: 768px) {
  .tokenomic__title {
    margin: 0 0 20px;
    font-size: 30px;
    line-height: 133%;
  }
}
.tokenomic__figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -20px;
}
.tokenomic__figure-image {
  max-width: 100%;
  height: auto;
}
.tokenomic__figure-image_lg {
  display: block;
}
@media (max-width: 768px) {
  .tokenomic__figure-image_lg {
    display: none;
  }
}
.tokenomic__figure-image_sm {
  display: none;
}
@media (max-width: 768px) {
  .tokenomic__figure-image_sm {
    display: block;
  }
}

.country {
  padding: 100px 0 0;
}
@media (max-width: 768px) {
  .country {
    padding-top: 50px;
  }
}
.country__title {
  margin: 0 0 31px;
  font-weight: 400;
  font-size: 60px;
  line-height: 67%;
  letter-spacing: -0.05em;
  color: #000;
}
@media (max-width: 768px) {
  .country__title {
    margin: 0 0 20px;
    font-size: 30px;
    line-height: 133%;
  }
}
.country__figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -20px;
}
.country__figure-image {
  max-width: 100%;
  height: auto;
}

@keyframes loading {
  0% {
    max-height: 100%;
  }
  10% {
    max-height: 90%;
  }
  25% {
    max-height: 80%;
  }
  40% {
    max-height: 70%;
  }
  80% {
    max-height: 50%;
  }
  90% {
    max-height: 30%;
  }
  100% {
    max-height: 0%;
  }
}
.red-button {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
}
.red-button__figures {
  position: relative;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.red-button__figure_front {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-height: 0;
  overflow: hidden;
  animation-name: loading;
  animation-duration: 4s;
}
.red-button__figure-image {
  max-height: 70vh;
}
.red-button__text {
  max-width: 960px;
  min-height: 80px;
  margin: 27px auto 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #000;
}
@media (max-width: 576px) {
  .red-button__text {
    min-height: 96px;
    margin: 16px auto 0;
    font-size: 24px;
    line-height: 32px;
  }
}

.modal-disclaimer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.modal-disclaimer.active {
  z-index: 300;
  display: flex;
  opacity: 1;
}
.modal-disclaimer__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 564px;
  aspect-ratio: 2.3305785/1;
  padding: 40px;
  box-sizing: border-box;
  background: url(../assets/modal-bg.svg) center no-repeat;
  background-size: contain;
}
@media (max-width: 576px) {
  .modal-disclaimer__body {
    padding: 10px;
    width: 320px;
  }
}
.modal-disclaimer__text {
  max-width: 90%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 22px;
  line-height: 136%;
  letter-spacing: -0.05em;
  text-align: center;
  color: #000;
}
@media (max-width: 576px) {
  .modal-disclaimer__text {
    font-size: 14px;
  }
}
.modal-disclaimer__buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.modal-disclaimer__button {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: -0.05em;
  text-align: center;
  color: #000;
  border: none;
  background: none;
  cursor: pointer;
}
@media (max-width: 576px) {
  .modal-disclaimer__button {
    font-size: 14px;
  }
}
.modal-disclaimer__button_yes {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.presale-soon {
  padding: 247px 0 287px;
}
@media (max-width: 768px) {
  .presale-soon {
    padding: 130px 0 155px;
  }
}
.presale-soon .container {
  position: relative;
}
.presale-soon__content {
  max-width: 647px;
}
@media (max-width: 1380px) {
  .presale-soon__content {
    max-width: 50%;
  }
}
@media (max-width: 992px) {
  .presale-soon__content {
    max-width: none;
  }
}
.presale-soon__title {
  margin: 0 0 25px;
  font-weight: 400;
  font-size: 60px;
  line-height: 127%;
  letter-spacing: -0.05em;
  text-align: left;
  color: #000;
}
@media (max-width: 1380px) {
  .presale-soon__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 150%;
  }
}
@media (max-width: 992px) {
  .presale-soon__title {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .presale-soon__title {
    font-size: 40px;
  }
}
.presale-soon__figure {
  position: absolute;
  top: 0;
  right: 0;
  max-width: calc(100% - 647px - 60px);
}
@media (max-width: 1380px) {
  .presale-soon__figure {
    max-width: calc(50% - 24px);
  }
}
@media (max-width: 992px) {
  .presale-soon__figure {
    position: static;
    display: flex;
    justify-content: center;
    max-width: none;
    margin: 0 0 25px;
  }
}
.presale-soon__figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.presale-soon__text {
  margin: 0 0 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: -0.05em;
  color: #000;
}
@media (max-width: 992px) {
  .presale-soon__text {
    text-align: center;
  }
}
.presale-soon__text-initial {
  display: block;
}
.presale-soon__text.active .presale-soon__text-initial {
  display: none;
}
.presale-soon__text-translated {
  display: none;
}
.presale-soon__text.active .presale-soon__text-translated {
  display: block;
}
.presale-soon__controls {
  display: flex;
  gap: 25px;
}
@media (max-width: 992px) {
  .presale-soon__controls {
    flex-direction: column;
    align-items: center;
  }
}
.presale-soon__controls-links {
  display: flex;
  gap: 10px;
  padding-top: 16px;
}
@media (max-width: 992px) {
  .presale-soon__controls-links {
    padding: 0;
  }
}
.presale-soon__controls-link {
  display: inline-block;
  height: 64px;
  width: 64px;
  background: url(../assets/social-button.svg) center no-repeat;
  background-size: 100%;
  transition: transform ease-in-out 0.1s;
  will-change: transform;
  cursor: pointer;
}
.presale-soon__controls-link:hover {
  transform: scale(1.02);
}
.presale-soon__controls-link:active {
  transform: scale(1);
}
.presale-soon__controls-link::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 64px;
}
.presale-soon__controls-link_x::before {
  background-image: url(../assets/x.png);
}
.presale-soon__controls-link_tg::before {
  background-image: url(../assets/tg.png);
}

.join-us {
  padding: 150px 0;
}
@media (max-width: 768px) {
  .join-us {
    padding: 30px 0 105px;
  }
}
.join-us .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .join-us .container {
    display: block;
  }
}
.join-us__content {
  flex: 0 1 486px;
}
.join-us__content-title {
  margin: 0 0 15px;
  font-weight: 700;
  font-size: 60px;
  line-height: 122%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  text-align: left;
  color: #000;
}
@media (max-width: 1380px) {
  .join-us__content-title {
    font-size: 50px;
    line-height: 150%;
  }
}
@media (max-width: 992px) {
  .join-us__content-title {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .join-us__content-title {
    font-size: 40px;
  }
}
.join-us__content-text {
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  letter-spacing: -0.05em;
  color: #000;
}
@media (max-width: 992px) {
  .join-us__content-text {
    text-align: center;
  }
}
.join-us__content-buttons {
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 992px) {
  .join-us__content-buttons {
    justify-content: center;
  }
}
.join-us__figure {
  flex: 0 1 512px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.join-us__figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.login {
  padding: 60px 0 160px;
}
@media (max-width: 992px) {
  .login {
    padding: 20px 0 80px;
  }
}
.login .container {
  position: relative;
}
.login__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 735px;
  height: 740px;
}
@media (max-width: 1380px) {
  .login__content {
    max-width: 50%;
  }
}
@media (max-width: 992px) {
  .login__content {
    max-width: none;
    height: auto;
  }
}
.login__title {
  margin: 0 0 40px;
  font-weight: 700;
  font-size: 60px;
  line-height: 103%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
@media (max-width: 1380px) {
  .login__title {
    max-width: none;
    height: auto;
    font-size: 50px;
    line-height: 150%;
  }
}
@media (max-width: 992px) {
  .login__title {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .login__title {
    font-size: 40px;
  }
}
.login__figure {
  position: absolute;
  right: 20px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
@media (max-width: 1380px) {
  .login__figure {
    width: calc(50% - 30px);
  }
}
@media (max-width: 992px) {
  .login__figure {
    position: static;
    width: auto;
    transform: none;
  }
}
.login__figure-image {
  display: block;
}
.login__buttons {
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
}
.login__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: -0.05em;
  text-align: center;
  color: #000;
}

.invite {
  padding: 60px 0 160px;
}
@media (max-width: 992px) {
  .invite {
    padding: 20px 0 80px;
  }
}
.invite .container {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 992px) {
  .invite .container {
    flex-direction: column;
  }
}
.invite__content {
  max-width: 682px;
}
@media (max-width: 1380px) {
  .invite__content {
    max-width: 50%;
  }
}
@media (max-width: 992px) {
  .invite__content {
    max-width: none;
  }
}
.invite__content-title {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 60px;
  line-height: 133%;
  letter-spacing: -0.05em;
  text-align: left;
  text-transform: capitalize;
  color: #000;
}
@media (max-width: 1380px) {
  .invite__content-title {
    font-size: 50px;
    line-height: 125%;
  }
}
@media (max-width: 992px) {
  .invite__content-title {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .invite__content-title {
    font-size: 40px;
  }
}
.invite__content-description {
  margin: 0 0 30px;
  font-weight: 400;
  font-size: 40px;
  line-height: 200%;
  letter-spacing: -0.05em;
  color: #000;
}
@media (max-width: 992px) {
  .invite__content-description {
    line-height: 125%;
    text-align: center;
  }
}
.invite__content-code {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 453px;
  margin: 0 0 30px;
}
@media (max-width: 992px) {
  .invite__content-code {
    max-width: none;
    justify-content: center;
    gap: 10px;
  }
}
@media (max-width: 385px) {
  .invite__content-code {
    gap: 6px;
  }
}
.invite__content-code-input {
  display: inline-block;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: -0.05em;
  text-align: center;
  color: #9e9e9e;
  border: 1px solid #9e9e9e;
  border-radius: 14px;
}
@media (max-width: 385px) {
  .invite__content-code-input {
    height: 40px;
    width: 40px;
    border-radius: 8px;
  }
}
.invite__content-code-input::-webkit-outer-spin-button, .invite__content-code-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.invite__content-code-input[type=number] {
  -moz-appearance: textfield;
}
.invite__content-buttons {
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 992px) {
  .invite__content-buttons {
    justify-content: center;
  }
}
.invite__figure {
  display: flex;
  align-items: center;
  justify-content: center;
}
.invite__figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.registry {
  padding: 60px 0 160px;
}
@media (max-width: 992px) {
  .registry {
    padding: 20px 0 80px;
  }
}
.registry .container {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 992px) {
  .registry .container {
    flex-direction: column;
  }
}
.registry__content {
  max-width: 682px;
}
@media (max-width: 1380px) {
  .registry__content {
    max-width: 50%;
  }
}
@media (max-width: 992px) {
  .registry__content {
    max-width: none;
  }
}
.registry__content-title {
  position: relative;
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: -0.05em;
  text-transform: none;
  text-align: left;
  color: #3a3a3a;
}
@media (max-width: 992px) {
  .registry__content-title {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .registry__content-title {
    font-size: 32px;
    line-height: 125%;
  }
}
.registry__content-title::after {
  content: "";
  position: absolute;
  top: 55px;
  left: 450px;
  display: block;
  width: 51px;
  height: 90px;
  background: url(../assets/arrow-ellipse.svg) center no-repeat;
  background-size: cover;
  transform: rotate(30deg);
}
@media (max-width: 992px) {
  .registry__content-title::after {
    left: 580px;
  }
}
@media (max-width: 992px) {
  .registry__content-title::after {
    left: auto;
    right: 0;
  }
}
@media (max-width: 576px) {
  .registry__content-title::after {
    display: none;
  }
}
.registry__content-code {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 453px;
}
@media (max-width: 992px) {
  .registry__content-code {
    max-width: none;
    justify-content: center;
    gap: 10px;
  }
}
@media (max-width: 385px) {
  .registry__content-code {
    gap: 6px;
  }
}
.registry__content-code-input {
  display: inline-block;
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: -0.05em;
  text-align: center;
  color: #3a3a3a;
  border: 1px solid #3a3a3a;
  border-radius: 14px;
  outline-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 385px) {
  .registry__content-code-input {
    height: 40px;
    width: 40px;
    border-radius: 8px;
  }
}
.registry__content-code-input:invalid {
  color: #ff0000;
  border-color: #ff0000;
}
.registry__content-code-input::-moz-placeholder {
  color: #ff0000;
}
.registry__content-code-input::placeholder {
  color: #ff0000;
}
.registry__content-code-input::-webkit-outer-spin-button, .registry__content-code-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.registry__content-code-input[type=number] {
  -moz-appearance: textfield;
}
.registry__content-error {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin: 10px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.05em;
  color: #ba242d;
}
.registry__content-error::before {
  content: "";
  display: block;
  height: 27px;
  width: 27px;
  background: url(../assets/error.svg) center no-repeat;
}
.registry__content-error.hidden {
  display: none;
}
.registry__content-buttons {
  display: flex;
  justify-content: flex-start;
  margin: 30px 0 0;
}
@media (max-width: 992px) {
  .registry__content-buttons {
    justify-content: center;
  }
}
.registry__figure {
  display: flex;
  align-items: center;
  justify-content: center;
}
.registry__figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.cabinet {
  padding: 80px 0 100px;
  min-height: calc(100vh - 240px);
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .cabinet {
    padding: 20px 0 60px;
  }
}
.cabinet .container {
  display: flex;
  gap: 100px;
}
@media (max-width: 1380px) {
  .cabinet .container {
    gap: 50px 40px;
  }
}
@media (max-width: 992px) {
  .cabinet .container {
    flex-direction: column;
  }
}
.cabinet__user {
  flex: 0 0 240px;
  box-sizing: border-box;
}
.cabinet__user-avatar {
  max-width: 200px;
  margin: 0 auto 10px;
  overflow: hidden;
  border-radius: 200px;
}
.cabinet__user-avatar-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.cabinet__user-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: -0.05em;
  text-align: center;
  color: #000;
}
.cabinet__user-invite {
  font-weight: 400;
  font-size: 14px;
  line-height: 286%;
  letter-spacing: -0.05em;
  text-align: center;
  color: #000;
}
.cabinet__user-logout {
  display: flex;
  justify-content: center;
  margin: 10px 0 30px;
}
.cabinet__user-logout-button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 3px 6px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.05em;
  text-align: center;
  color: #000;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  transition: filter ease-in-out 0.2s, transform ease-in-out 0.2s;
  cursor: pointer;
}
.cabinet__user-logout-button:hover {
  filter: invert(1);
}
.cabinet__user-logout-button:active {
  transform: scale(0.96);
}
.cabinet__user-logout-button::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../assets/logout.svg) center no-repeat;
}
.cabinet__user-referral-title {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: -0.05em;
  text-align: center;
  color: #000;
}
@media (max-width: 992px) {
  .cabinet__user-referral-title {
    justify-content: center;
  }
}
.cabinet__user-referral-title::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../assets/link.svg) center no-repeat;
}
.cabinet__user-referral-link {
  display: flex;
  justify-content: center;
  gap: 4px;
  max-width: 240px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 8px 10px;
  border: 1px dashed #000;
  border-radius: 6px;
}
.cabinet__user-referral-link-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.05em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cabinet__user-referral-link-copy {
  flex: 0 0 auto;
  display: inline-block;
  padding: 0;
  height: 24px;
  width: 24px;
  border: none;
  background: url(../assets/copy.svg);
  transition: filter ease-in-out 0.2s, transform ease-in-out 0.1s;
  cursor: pointer;
}
.cabinet__user-referral-link-copy:hover {
  filter: brightness(0.2);
}
.cabinet__user-referral-link-copy:active {
  transform: scale(0.9);
}
.cabinet__content {
  flex: 1 1 auto;
}
.cabinet__subscribed {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 674px;
  padding-top: 80px;
  box-sizing: border-box;
}
@media (max-width: 992px) {
  .cabinet__subscribed {
    min-height: auto;
    padding-top: 0;
  }
}
.cabinet__subscribed-text {
  display: inline-block;
  max-width: 595px;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 30px;
  line-height: 267%;
  letter-spacing: -0.05em;
  text-align: center;
  color: #000;
}
@media (max-width: 992px) {
  .cabinet__subscribed-text {
    font-size: 24px;
    line-height: 150%;
  }
}
.cabinet__subscribed-text a {
  color: #000;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.cabinet__main {
  display: flex;
  gap: 84px;
}
@media (max-width: 1380px) {
  .cabinet__main {
    gap: 40px 20px;
  }
}
@media (max-width: 992px) {
  .cabinet__main {
    flex-direction: column;
  }
}
.cabinet__presale {
  flex: 1 1 480px;
}
@media (max-width: 1380px) {
  .cabinet__presale {
    flex: 1 1 400px;
  }
}
@media (max-width: 992px) {
  .cabinet__presale {
    flex: 0 1 auto;
  }
}
.cabinet__presale-title {
  margin: 0 0 6px;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: -0.05em;
  text-transform: none;
  color: #000;
}
.cabinet__presale-wallet {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 0 0 20px;
}
.cabinet__presale-wallet-input {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 13px;
  padding-right: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.05em;
  color: #000;
  border: none;
  border-radius: 4px;
  background-color: #ebebeb;
  background-position: right 16px center;
  background-repeat: no-repeat;
}
.cabinet__presale-wallet-input.valid {
  background-image: url(../assets/correct.svg);
}
.cabinet__presale-wallet-input.invalid {
  color: #ff0000;
  background-image: url(../assets/error.svg);
}
.cabinet__presale-address, .cabinet__presale-link {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  box-sizing: border-box;
  padding: 8px 10px;
  border: 1px dashed #000;
  border-radius: 6px;
}
.cabinet__presale-address-text, .cabinet__presale-link-text {
  flex: 1 1 auto;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.05em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cabinet__presale-address-copy, .cabinet__presale-link-copy {
  flex: 0 0 auto;
  display: inline-block;
  padding: 0;
  height: 24px;
  width: 24px;
  border: none;
  background: url(../assets/copy.svg);
  transition: filter ease-in-out 0.2s, transform ease-in-out 0.1s;
  cursor: pointer;
}
.cabinet__presale-address-copy:hover, .cabinet__presale-link-copy:hover {
  filter: brightness(0.2);
}
.cabinet__presale-address-copy:active, .cabinet__presale-link-copy:active {
  transform: scale(0.9);
}
.cabinet__presale-address {
  max-width: 480px;
}
@media (max-width: 1380px) {
  .cabinet__presale-address {
    max-width: 360px;
  }
}
.cabinet__presale-link {
  max-width: 280px;
}
.cabinet__presale-total {
  margin: 6px 0 20px;
  font-size: 18px;
  line-height: 222%;
  letter-spacing: -0.05em;
  color: #000;
}
.cabinet__presale-total-text {
  font-weight: 400;
}
.cabinet__presale-total-count {
  font-weight: 700;
}
.cabinet__presale-progress {
  margin: 40px 0 6px;
}
.cabinet__presale-progress-bar {
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 37px;
}
.cabinet__presale-progress-bar-value {
  height: 20px;
  background-color: #ff0000;
}
.cabinet__presale-progress-label {
  display: flex;
  justify-content: space-between;
}
.cabinet__presale-progress-label-item {
  font-size: 18px;
  line-height: 222%;
  letter-spacing: -0.05em;
  color: #000;
}
.cabinet__presale-progress-label-item-text {
  font-weight: 400;
}
.cabinet__presale-progress-label-item-value {
  font-weight: 700;
}
.cabinet__presale-task {
  padding: 10px;
  border: 1px dashed #9e9e9e;
  border-radius: 7px;
}
.cabinet__presale-task-description {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin: 0 0 10px;
}
.cabinet__presale-task-description-item {
  padding-left: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.05em;
  color: #000;
}
.cabinet__presale-task-description-item_question {
  background: url(../assets/question.svg) center left no-repeat;
}
.cabinet__presale-task-complete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 266px;
  width: 100%;
  padding: 6px 10px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 18px;
  line-height: 222%;
  letter-spacing: -0.05em;
  color: #fff;
  border: none;
  border-radius: 10px;
  background: #ba242d;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
.cabinet__presale-task-complete-button:hover {
  filter: brightness(1.2);
}
.cabinet__presale-task-complete-button:active {
  transform: scale(0.98);
}
.cabinet__presale-task-complete-button::after {
  content: "";
  flex: 0 0 auto;
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url(../assets/arrow-right-top.svg) center no-repeat;
}
.cabinet__info {
  flex: 0 1 410px;
}
@media (max-width: 992px) {
  .cabinet__info {
    flex: 0 1 auto;
  }
}
.cabinet__info-referrals {
  overflow: hidden;
  border: 1px solid #9e9e9e;
  border-radius: 9px;
  margin: 0 0 20px;
}
.cabinet__info-referrals-title {
  padding: 10px;
  background-color: #1d1d1d;
}
.cabinet__info-referrals-title-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: -0.05em;
  color: #fff;
}
.cabinet__info-referrals-title-details {
  font-weight: 400;
  font-size: 16px;
  line-height: 250%;
  letter-spacing: -0.05em;
  color: #fff;
}
.cabinet__info-referrals-slider {
  display: grid;
  padding: 10px;
  box-sizing: border-box;
}
.cabinet__info-referrals-slider .swiper {
  max-width: 100%;
}
.cabinet__info-referrals-slide {
  min-height: 206px;
}
.cabinet__info-referrals-slide-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #9e9e9e;
}
.cabinet__info-referrals-slide-item-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 250%;
  letter-spacing: -0.05em;
  color: #000;
}
.cabinet__info-referrals-slide-item-value {
  flex: 0 0 96px;
  font-weight: 700;
  font-size: 16px;
  line-height: 250%;
  letter-spacing: -0.05em;
  color: #000;
  text-align: right;
}
.cabinet__info-referrals-pagination {
  padding: 10px 10px 20px;
}
.cabinet__info-referrals-pagination .swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.cabinet__info-referrals-pagination .swiper-pagination-bullet {
  margin: 0 !important;
  height: 11px;
  width: 11px;
  background-color: #d9d9d9;
  opacity: 1;
}
.cabinet__info-referrals-pagination .swiper-pagination-bullet-active {
  height: 15px;
  width: 15px;
  background-color: #000000;
}
.cabinet__info-results {
  overflow: hidden;
  border: 1px solid #9e9e9e;
  border-radius: 9px;
  margin: 0 0 20px;
}
.cabinet__info-results-title {
  padding: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: -0.05em;
  color: #fff;
  background-color: #ba242d;
}
.cabinet__info-results-items {
  padding: 10px;
}
.cabinet__info-results-items-total {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
}
.cabinet__info-results-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 28px;
}
.cabinet__info-results-item-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: -0.05em;
  color: #000;
}
.cabinet__info-results-item-value {
  flex: 0 0 96px;
  font-weight: 700;
  font-size: 18px;
  line-height: 222%;
  letter-spacing: -0.05em;
  color: #000;
  text-align: right;
}
.cabinet__info-payout {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cabinet__info-payout-button {
  width: 100%;
}
@media (max-width: 1380px) {
  .cabinet__info-payout-button {
    background-image: url(../assets/button-red.svg);
    background-size: 292px 53px;
  }
}
@media (max-width: 992px) {
  .cabinet__info-payout-button {
    width: 453px;
    background-image: url(../assets/button-red-lg.svg);
    background-size: auto;
  }
}
@media (max-width: 576px) {
  .cabinet__info-payout-button {
    width: 240px;
    background-image: url(../assets/button-red.svg);
    background-size: cover;
  }
}

.modal-tasks {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.modal-tasks.active {
  z-index: 300;
  display: flex;
  opacity: 1;
}
.modal-tasks__body {
  position: relative;
  padding: 20px 0;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #ffffff;
}
.modal-tasks__content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-height: calc(90vh - 100px);
  max-width: calc(100vw - 32px);
  width: 1255px;
  height: auto;
  padding: 20px 40px;
  box-sizing: border-box;
  overflow: auto;
  border-radius: 20px;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .modal-tasks__content {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .modal-tasks__content {
    padding: 0 10px;
  }
}
.modal-tasks__content::-webkit-scrollbar {
  width: 20px;
}
@media (max-width: 992px) {
  .modal-tasks__content::-webkit-scrollbar {
    width: 6px;
  }
}
.modal-tasks__content::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border-radius: 6px;
}
.modal-tasks__card {
  position: relative;
  flex: 0 0 calc(50% - 10px);
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .modal-tasks__card {
    flex: 0 0 auto;
  }
}
.modal-tasks__card_expired::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}
.modal-tasks__card-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 4px 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 222%;
  letter-spacing: -0.05em;
  color: #fff;
  background-color: #000000;
}
@media (max-width: 385px) {
  .modal-tasks__card-heading {
    font-size: 14px;
  }
}
.modal-tasks__card-content {
  padding: 40px 20px 20px;
}
.modal-tasks__card-content-title {
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 70px;
  line-height: 120%;
  letter-spacing: -0.05em;
  text-align: center;
  color: #000;
  opacity: 0.2;
}
@media (max-width: 576px) {
  .modal-tasks__card-content-title {
    font-size: 40px;
  }
}
.modal-tasks__card-content-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-tasks__close {
  position: absolute;
  top: -50px;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0;
  font-weight: 700;
  font-size: 23px;
  line-height: 174%;
  letter-spacing: -0.05em;
  text-align: center;
  color: #fff;
  border: none;
  background: none;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
.modal-tasks__close:hover {
  opacity: 0.8;
}
.modal-tasks__close:active {
  transform: scale(0.98);
}
.modal-tasks__close::after {
  content: "";
  width: 40px;
  height: 40px;
  background: url(../assets/close.svg) center no-repeat;
}